<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <h2>Boleto Detalle</h2>
    </div>
  </div>
  <div>
    <div class="col-md-8 offset-md-3">
      <span class="anchor" id="formComplex"></span>
      <div class="my-5"></div>
      <h3>Detalle </h3>
      <!-- form complex example -->
      <form>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="id_boleto" class="col-sm-4 col-md-4 col-form-label">ID Boleto:</label>
            <label for="id_boleto" class="col-sm-8 col-md-8 col-form-label">{{boleto.id_boleto}}</label>
          </div>
          <div class="form-group col-sm-6 col-md-6">
            <label for="fecha_viaje" class="col-sm-4 col-md-4 col-form-label">Fecha de viaje:</label>
            <label for="fecha_viaje" class="col-sm-8 col-md-8 col-form-label">{{boleto.fecha_viaje}}</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="id_horario" class="col-sm-4 col-md-4 col-form-label">id Horario:</label>
            <label for="id_horario" class="col-sm-8 col-md-8 col-form-label">{{boleto.id_horario}}</label>
          </div>
          <div class="form-group col-sm-6 col-md-6">
            <label for="id_ruta" class="col-sm-4 col-md-4 col-form-label">id Ruta:</label>
            <label for="id_ruta" class="col-sm-8 col-md-8 col-form-label">{{boleto.id_ruta}}</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="dni" class="col-sm-4 col-md-4 col-form-label">DNI:</label>
            <label for="dni" class="col-sm-8 col-md-8 col-form-label">{{boleto.dni}}</label>
          </div>
          <div class="form-group col-sm-6 col-md-6">
            <label for="nom_pasajero" class="col-sm-4 col-md-4 col-form-label">Nombre Pasajero:</label>
            <label for="nom_pasajero" class="col-sm-8 col-md-8 col-form-label">{{boleto.nom_pasajero}}</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="tel_pasajero" class="col-sm-4 col-md-4 col-form-label">Telefono Pasajero:</label>
            <label for="tel_pasajero" class="col-sm-8 col-md-8 col-form-label">{{boleto.tel_pasajero}}</label>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-sm-6 col-md-6">
            <a href="javascript:void(0);" [routerLink]="['/boletos']" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i> Regresar</a>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="btn-group float-end">
              <span></span>
              <button class="btn btn-primary " (click)="edit()">Editar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- </main> -->

  </div>
</div>
