<div class="container-fluid d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
    </div>
  </div>
</div>

<div>
  <select name="listbox-reportes" (change)="onSelectionChangeReportes($event.target.value)">
    <option *ngFor="let url of urlsReportes" [value]="url.src">{{ url.name }}</option>
  </select>

  <div class="image-container" *ngIf="selectedUrlReportes">
    <ng-container *ngIf="isLoadingReportes; else content">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </ng-container>
    <ng-template #content>
      <img class="zoomable" name="imagen-reportes" [src]="selectedUrlReportes" alt="Imagen seleccionada" (click)="toggleZoom('reportes')" />
      <button class="btn btn-sm btn-danger" (click)="clearImage('reportes')">Limpiar</button>
    </ng-template>
  </div>

  <select name="listbox-prediccion" (change)="onSelectionChangePrediccion($event.target.value)">
    <option *ngFor="let url of urlsPrediccion" [value]="url.src">{{ url.name }}</option>
  </select>

  <div class="image-container" *ngIf="selectedUrlPrediccion">
    <ng-container *ngIf="isLoadingPrediccion; else content">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </ng-container>
    <ng-template #content>
      <img class="zoomable" name="imagen-prediccion" [src]="selectedUrlPrediccion" alt="Imagen seleccionada" (click)="toggleZoom('prediccion')" />
      <button class="btn btn-sm btn-danger" (click)="clearImage('prediccion')">Limpiar</button>
    </ng-template>
  </div>
</div>
