<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <h2 *ngIf="!facturaDetalleForm.get('_id').value">Agregar FacturaDetalle</h2>
      <h2 *ngIf="facturaDetalleForm.get('_id').value">Actualizar FacturaDetalle</h2>
    </div>
  </div>
  <div>
    <div class="col-md-7 offset-md-3">
      <span class="anchor" id="formComplex"></span>
      <div class="my-5"></div>
      <!-- <h3>FacturaDetalle Detalle </h3> -->
      <form [formGroup]="facturaDetalleForm" class="row g-3">
        <div class="col-sm-6 col-md-6">
          <label for="id_facturaDetalle" class="form-label">Id FacturaDetalle</label>
          <input type="text" class="form-control" formControlName="id_facturaDetalle" />
          </div>
        <div class="col-sm-6 col-md-6">
          <label for="id_factura" class="form-label">id Factura</label>
          <input type="text" class="form-control" formControlName="id_factura" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="id_boleto" class="form-label">id Boleto</label>
            <input type="text" class="form-control" formControlName="id_boleto" />
            </div>
        <div class="col-sm-6 col-md-6">
          <label for="descripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" formControlName="descripcion" />
          </div>
        <div class="col-sm-6 col-md-6">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input type="text" class="form-control" formControlName="cantidad" />
          </div>
        <div class="col-sm-6 col-md-6">
          <label for="precio_u" class="form-label">Precio Unitario</label>
          <input type="text" class="form-control" formControlName="precio_u" />
          </div>
        <div class="col-sm-6 col-md-6">
          <label for="subtotal" class="form-label">SubTotal</label>
          <input type="text" class="form-control" formControlName="subtotal" />
          </div>
        <div class="row col-sm-12 col-md-12 mt-2">
          <div class="col-sm-6 col-md-6">
            <a href="javascript:void(0);" [routerLink]="['/facturaDetalles']" class="btn btn-primary"> <i class="fa fa-chevron-left"></i>
              Regresar</a>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="btn-group pull-right">
              <button class="btn btn-primary" [disabled]="facturaDetalleForm.invalid" (click)="submit()">Salvar</button>
              <button class="btn btn-secondary" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
