<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <h2 *ngIf="!facturaForm.get('_id').value">Agregar Factura</h2>
      <h2 *ngIf="facturaForm.get('_id').value">Actualizar Factura</h2>
    </div>
  </div>
  <div>
    <div class="col-md-7 offset-md-3">
      <span class="anchor" id="formComplex"></span>
      <div class="my-5"></div>
      <!-- <h3>Factura Detalle </h3> -->
      <form [formGroup]="facturaForm" class="row g-3">
        <div class="col-sm-6 col-md-6">
          <label for="id_factura" class="form-label">Id Factura</label>
          <input type="text" class="form-control" formControlName="id_factura" />
          </div>
        <div class="col-sm-6 col-md-6">
          <label for="id_serie" class="form-label">id Serie</label>
          <input type="text" class="form-control" formControlName="id_serie" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="no_documento" class="form-label">no. Documento</label>
            <input type="text" class="form-control" formControlName="no_documento" />
            </div>
        <div class="col-sm-6 col-md-6">
          <label for="id_usuario" class="form-label">id Usuario</label>
          <input type="text" class="form-control" formControlName="id_usuario" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="fecha_doc" class="form-label">Fecha</label>
            <input type="date" class="form-control" formControlName="fecha_doc" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="hora_doc" class="form-label">Hora</label>
            <input type="time" class="form-control" formControlName="hora_doc" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="nit_cliente" class="form-label">Nit Cliente</label>
            <input type="text" class="form-control" formControlName="nit_cliente" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="nombre_cliente" class="form-label">Nombre Cliente</label>
            <input type="text" class="form-control" formControlName="nombre_cliente" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="direccion_cliente" class="form-label">Dirección Cliente</label>
            <input type="text" class="form-control" formControlName="direccion_cliente" />
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="total" class="form-label">Total</label>
            <input type="text" class="form-control" formControlName="total" />
          </div>
        <div class="row col-sm-12 col-md-12 mt-2">
          <div class="col-sm-6 col-md-6">
            <a href="javascript:void(0);" [routerLink]="['/facturas']" class="btn btn-primary"> <i class="fa fa-chevron-left"></i>
              Regresar</a>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="btn-group pull-right">
              <button class="btn btn-primary" [disabled]="facturaForm.invalid" (click)="submit()">Salvar</button>
              <button class="btn btn-secondary" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
