<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
  <div class="list-group">
    <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Dashboard</span>
    </a>
<!--
  <a
      [routerLink]="['/contacts']"
      [routerLinkActive]="['router-link-active']"
      tooltip="Contacts"
      container="body"
      style="z-index: 1000; position: relative;"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>Contactos</span>
    </a>   
  <a
    [routerLink]="['/municipios']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Municipios"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Municipios</span>
  </a>
  <a
    [routerLink]="['/kilometrajes']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Kilometrajes"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Kilometrajes</span>
  </a> -->
  <a
    [routerLink]="['/agencias']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Agencias"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Agencias</span>
  </a>
    <a
    [routerLink]="['/boletos']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Boletos"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Boletos</span>
  </a>
  <a
    [routerLink]="['/destinos']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Destinos"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Destinos</span>
  </a>
  <a
    [routerLink]="['/empleados']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Empleados"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Empleados</span>
  </a>
  <a
    [routerLink]="['/empresas']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Empresas"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Empresas</span>
  </a>
  <a
    [routerLink]="['/facturas']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Facturas"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Facturas</span>
  </a>

  <a
  [routerLink]="['/facturaDetalles']"
  [routerLinkActive]="['router-link-active']"
  tooltip="Factura Detalles"
  container="body"
  style="z-index: 1000; position: relative;"
  class="list-group-item"
>
  <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
  <span>Factura Detalles</span>
</a>

  <a
    [routerLink]="['/horarios']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Horarios"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Horarios</span>
  </a>

  <a
  [routerLink]="['/puestos']"
  [routerLinkActive]="['router-link-active']"
  tooltip="Puestos"
  container="body"
  style="z-index: 1000; position: relative;"
  class="list-group-item"
>
  <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
  <span>Puestos</span>
</a>

  <a
    [routerLink]="['/rutas']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Rutas"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Rutas</span>
  </a>
  <a
    [routerLink]="['/series']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Series"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Series</span>
  </a>

  <a
    [routerLink]="['/servicios']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Servicios"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Servicios</span>
  </a>

  <a
    [routerLink]="['/tipoAgencias']"
    [routerLinkActive]="['router-link-active']"
    tooltip="Tipo de Agencias"
    container="body"
    style="z-index: 1000; position: relative;"
    class="list-group-item"
  >
    <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
    <span>Tipo de Agencias</span>
  </a>


  
    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp; {{ user?.firstName }} {{ user?.lastName }}</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a [routerLink]="['/profile']" routerLinkActive="router-link-active">
                <span><i class="fa fa-fw fa-envelope"></i> Perfil</span>
              </a>
            </li>

            <li>
              <a href="javascript:void(0);" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
    <span>Collapse Sidebar</span>
  </div>
</nav>
